<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/css/style.css"> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">  
        <style> 
        body{
           background-attachment: fixed;
           background-repeat: no-repeat;
           background-size: cover;}
        </style>
    </head>
    <body style="background-image: url('login.jpeg');"> 
        <form action="dashboard.html"  target="_blank"> 
            
        <div class="account">
            <div class="log-in">
          <div>
              <center><h2 style="color: black;">Login Page!</h2></center>
              <table>
              <tr>
		<td>	<label> User Name :</label></td>
                <td><input type="username" required placeholder="User Name"></td>
                </tr>
                    <tr>
                    <td><label>Password :</label></td>
		<td><input type="password" required placeholder="Password"></td>
	</tr> 
	<tr>
          <td><a  class="reg" href="register.html" target="_blank">Create a New Account!</a></td>
		<td><button class="submit" style="width:80px" >Submit</button></td>
                </tr></table>
            </div>  
            </div>
        </div> </form>
    </body>
</html>
